* {
  font-family: "Libre Baskerville", serif;
}
/* HEADER */

header {
  background-color: rgb(210, 224, 236);
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
li {
  margin-left: 3rem;
}
a {
  color: black;
}
div {
  background-color: aliceblue;
  width: 200;
  height: 200;
  margin-left: 200;
  margin-top: 200;
  animation-name: shake;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  25% {
    transform: scale(1.2);
  }

  40% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
}

@media screen and (max-width: 410px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  li {
    margin-left: 0%;
  }
}
.Peacock {
  width: 30%;
}
.main-img {
  width: 30%;
  margin-top: 5%;
}
.contact-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/*PHOTOS*/

.images {
  width: 100%;
}
footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}
