* {
  font-family: "Libre Baskerville", serif;
}
/* HEADER */

header {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
li {
  margin-left: 3rem;
}
a {
  color: black;
}
.main-img {
  width: 30%;
}
.contact-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/*PHOTOS*/

.images {
  width: 100%;
}
footer {
  margin-top: 3rem;
  border-top: 1px solid brown;
}
